@{
    ViewData["Title"] = "Product";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>Product Details</h1>
    </div>
</body>
</html>