@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirect</title>
</head>
<body>
    <div>
        <h1>Register</h1>
        <p>Already have an Account? <a href="#">Sign In</a></p>
    </div>
</body>
</html>