@{
    ViewData["Title"] = "Testimonies";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testimony</title>
</head>
<body>
    <div>
        <h1>Testimonials</h1>
    </div>
</body>
</html>